<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]='formGr' (ngSubmit)='guardar()'>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input formControlName='nombre' class="form-control" type="text" placeholder="Nombre" [class.is-invalid]='nombreNoValido'>
                <small *ngIf='nombreNoValido' class="text-danger">ingrese 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input formControlName='apellido' class="form-control" type="text" placeholder="Apellido" [class.is-invalid]='apellidoNoValido'>
                <small *ngIf='apellidoNoValido' class="text-danger">ingrese 5 letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input formControlName='email' class="form-control" type="email" placeholder="Correo electrónico" [class.is-invalid]='emailNoValido'>
            <small *ngIf='emailNoValido' class="text-danger">email no valido</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Usuario</label>
        <div class="col-8">

            <input formControlName='usuario' class="form-control" type="email" placeholder="Usuario" [class.is-invalid]='usuarioNoValido'>
            <small *ngIf='usuarioNoValido' class="text-danger">Nombe de usuario no disponible</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col-8">
            <input formControlName='pass1' class="form-control" type="password" placeholder="Contreseña 1" [class.is-invalid]='pass1Invalid'>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Repetir contraseña</label>
        <div class="col-8">
            <input formControlName='pass2' class="form-control" type="password" placeholder="Contreseña 2" [class.is-invalid]='pass2Invalid'>
        </div>
    </div>

    <div class="form-group row" formGroupName='direccion'>
        <label class="col-2 col-form-label">Direccion</label>
        <div class="col-8">
            <div class="row form-group">
                <div class=" col-md-6">
                    <input type='text' class="form-control" placeholder="Provincia" formControlName='provincia' [class.is-invalid]='provinciaNoValida'>
                </div>

                <div class=" col-md-6">
                    <input type='text' class="form-control" placeholder="Ciudad" formControlName='ciudad' [class.is-invalid]='ciudadNoValida'>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="col-8">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Hobbie</th>
                        <th class="text-right pr-4">Borrar</th>
                    </tr>
                </thead>
                <tbody formArrayName='hobbies'>
                    <tr *ngFor='let control of hobbies.controls; let i = index'>
                        <td>{{ i + 1 }}</td>
                        <td>
                            <input type="text" class="form-control" [formControlName]='i'>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-warning" type="button" (click)='borrarHobbie()'>Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary mt-5 mb-3 btn-block" type="button" (click)='agregarHobbie()'>Agregar</button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>
<hr>
<pre>
    Estado del form: {{ formGr.valid }}
    <br>
    Status: {{ formGr.status }}
</pre>
<pre>
    {{ formGr.value | json}}
</pre>